name: Update GitHub Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create folder
        run: mkdir -p generated

      - name: Download stats
        run: |
          curl -L -o generated/stats.svg "https://github-readme-stats.vercel.app/api?username=jubayer17&show_icons=true&theme=gruvbox&hide_border=true"

      - name: Download langs
        run: |
          curl -L -o generated/langs.svg "https://github-readme-stats.vercel.app/api/top-langs/?username=jubayer17&layout=compact&theme=gruvbox&hide_border=true"

      - name: Commit
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Update stats" || exit 0
          git push
